{% extends 'blog/base.html' %}
{% block content %}
        <br><br><br>
        <h1 style="font-size:60px; font-style: italic; color: #fff;">The Complete <br> Cooking Companion...</h1>
        <br><br>
        <p style="font-size: 20px; padding-top: 30px; font-weight: lighter; color: #fff;">A virtual Companion for cooking, <br> and an exclusive social media for passionate cookers.</p>
        <br>
        <a href="{% url 'login' %}">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <button id="auth-links" style="width: 300px; border-radius: 15px;">Discover More</button>
        </a>

        
{% endblock content %}